doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Creative - Bootstrap 3 Responsive Admin Template')
    meta(name='author', content='GeeksLabs')
    meta(name='keyword', content='Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal')
    link(rel='shortcut icon', href='img/favicon.png')
    title Login Page 2 | Creative - Bootstrap 3 Responsive Admin Template
    // Bootstrap CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // bootstrap theme
    link(href='stylesheets/bootstrap-theme.css', rel='stylesheet')
    // external css
    // font icon
    link(href='stylesheets/elegant-icons-style.css', rel='stylesheet')
    link(href='stylesheets/font-awesome.css', rel='stylesheet')
    // Custom styles
    link(href='stylesheets/style.css', rel='stylesheet')
    link(href='stylesheets/style-responsive.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5
    //if lt IE 9
      script(src='javascripts/js/html5shiv.js')
      script(src='javascripts/js/respond.min.js')
  body.login-img3-body
    .container
      form.login-form(action='/login/query'  ,method='get')
        .login-wrap
          p.login-img
            i.icon_lock_alt
          .input-group
            span.input-group-addon
              i.icon_profile
            input.form-control(type='text', placeholder='Username', autofocus='', name='username')
          .input-group
            span.input-group-addon
              i.icon_key_alt
            input.form-control(type='password', placeholder='Password' , name='password')
          label.checkbox
            input(type='checkbox', value='remember-me')
            |  Remember me
            span.pull-right
              a(href='#')  Forgot Password?
          button.btn.btn-primary.btn-lg.btn-block(type='submit') Login
          
